{% extends "@App/layout.html.twig" %}

{% block body %}

<div class="container">

    <h3>Articles</h3>

    {% for article in news %}
        <h4>
            <a href="{{ article.href }}">{{ article.title }}</a>
        </h4>
        <p>{{ article.description }}</p>
        <br>
    {% endfor %}
</div>

{% endblock %}